       {% extends 'base.html' %}
{% block content %}
        <main>
            <!-- page__title-start -->
            <section class="page__title p-relative d-flex align-items-center" data-background="/static/img/bg/page-title-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page__title-inner text-center">
                                <h1>Ваша Корзина</h1>
                                <div class="page__title-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Корзина</li>
                                    </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- page__title-end -->

            <!-- cart-area start -->
            <section class="cart-area pt-120 pb-120">
                <div class="container">
                    {% if cart_items %}
                   <div class="row">
                      <div class="col-12">
                            <form action="/cart/" method="post">
                                {% csrf_token %}
                                            <input type="hidden" name="action" value="clear_cart">
                                            <input type="hidden" name="return_url" value="/cart/">
                               <div class="table-content table-responsive">
                                  <table class="table">
                                        <thead>
                                           <tr>
                                              <th class="product-thumbnail">Фото</th>
                                              <th class="cart-product-name">Название</th>
                                              <th class="product-price">Цена</th>
                                              <th class="product-quantity">Количество</th>
                                              <th class="product-subtotal">Итог</th>
                                              <th class="product-remove">Удалить</th>
                                           </tr>
                                        </thead>
                                        <tbody>
                                            {% for  cartitem in cart_items %}
                                           <tr>
                                              <td class="product-thumbnail"><a href="{{ cartitem.good.id }}"><img src="/media/{{ cartitem.good.logo }}" alt=""></a></td>
                                              <td class="product-name"><a href="{{ cartitem.good.id }}">{{ cartitem.good.title }}</a></td>
                                              <td class="product-price"><span class="amount">{{ cartitem.good.price }}</span></td>
                                              <td class="product-quantity">
                                                    <div class="cart-plus-minus">
                                                        <input type="text" value="{{ cartitem.amount }}">
                                                        <div class="dec qtybutton">-</div><div class="inc qtybutton">+</div><div class="dec qtybutton">-</div><div class="inc qtybutton">+</div>
                                                    </div>
                                              </td>
                                              <td class="product-subtotal"><span class="amount">{{ cartitem.all_price }}</span></td>
                                              <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                                           </tr>
                                            {% endfor %}
                                        </tbody>
                                  </table>
                               </div>
                               <div class="row">
                                  <div class="col-12">
                                        <div class="coupon-all">
                                           <!--<div class="coupon">
                                              <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                              <button class="btn-tp-2" name="apply_coupon" type="submit">Apply coupon</button>
                                           </div>-->
                                           <div class="coupon2">
                                              <button class="btn-tp-2" name="update_cart" type="submit">Очистить корзину</button>
                                           </div>
                                        </div>
                                  </div>
                               </div>
                               <div class="row justify-content-end">
                                  <div class="col-md-5">
                                        <div class="cart-page-total">
                                           <h2>Ваш заказ</h2>
                                           <ul class="mb-20">
                                              <li>Всего <span>{{ new_cart.price }} тг</span></li>
                                              <!--<li>Итог <span>{{ new_cart.price }} тг</span></li>-->
                                           </ul>
                                           <a class="btn-tp-2" href="/checkout">Оформить заказ</a>
                                        </div>
                                  </div>
                               </div>
                            </form>
                      </div>
                   </div>
                    {% else %}
                    <p class="cart-page-title">Ваша корзина пуста <a class="checkout-click3" href="/catalog">Начните покупать сейчас !</a></p>
                    {% endif %}
                </div>
            </section>
            <!-- cart-area end -->


        </main>
      {% endblock %}