       {% extends 'base.html' %}
{% block content %}

<main>
            <!-- page__title-start -->
            <section class="page__title p-relative d-flex align-items-center" data-background="/static/img/bg/page-title-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page__title-inner text-center">
                                <h1>Оформление</h1>
                                <div class="page__title-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Оформление</li>
                                    </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- page__title-end -->

            <!-- coupon-area start -->
            <section class="coupon-area pt-120 pb-30">
                <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <div class="coupon-accordion">
                            <!-- ACCORDION START -->
                            <h3 style="border-top: 5px solid #00ff08;">Ваш заказ оформлен, в ближайшее время наши специалисты свяжутся с вами. <a href="/" style="color:blue"> Перейти на главную страницу</a></h3>
                            <div id="checkout-login" class="coupon-content">
                            <div class="coupon-info">
                                <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est
                                        sit amet ipsum luctus.</p>

                            </div>
                            </div>
                            <!-- ACCORDION END -->
                    </div>
                </div>
                </div>
            </div>
            </section>
            <!-- coupon-area end -->


        </main>

       {% endblock %}